@font-face {
  font-family: 'Kepler452b';
  src: url('/Kepler452b-Regular.woff2') format('woff2');
}

:root {
  font-family: 'Kepler452b', sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html {
  height: 100%;
}

body {
  margin: 0;
  cursor: none;
  height: 100%;
}

#app {
  width: 100%;
  height: 100%;
}
