@font-face {
  font-family: 'Kepler452b';
  src: url('/Kepler452b-Regular.woff2') format('woff2');
}

:root {
  font-family: 'Kepler452b', sans-serif;
  width: 1280px;
  height: 400px;
  background-color: #012527;
  color: #32d7e6;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#app {
  max-width: 1280px;
  height: 400px;
  margin: 0 auto;
  text-align: center;
}
